page-manifest-certification {
    .button-title {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }
    .button-detail {
        text-align: center;
    }

    .button-title-non-centered {
        text-align: left;
        font-weight: bold;
        font-size: 0.8em;
    }
    .button-detail-non-centered {
        text-align: left;
    }
}
