generate-exit-pass-from-dispatch {
    ion-buttons button[icon-only].my-style-for-modal {
        margin: 0 6px;
        min-width: 36px;
    }

    .grid-header {
        color: #666666;
        font-weight: bold;
        text-align: left;
    }

    .title_segment {
        text-align: center;
        font-weight: bold;
        font-size: 2em;
    }

    .label_segment {
        color: #666666;
        font-weight: bold;
        text-align: center;
    }
}