<ion-header>
    <ion-navbar color="favorite" no-border-bottom>
        <ion-buttons left>
            <button ion-button icon-only (click)="backButtonAction()" class="my-style-for-modal" id="backAction">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{ '_title.Label-Info_' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-fab top right>
        <button color="light" ion-fab id="showPrint" (click)="printLabel()">
            <ion-icon name="print" color="dark"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab bottom right *ngIf="labelInfo.clientName !== '...'">
        <button ion-fab color="light" (click)="relocateLabel()">
            <img src="assets/images/fork-truck.png" alt="Image">
        </button>
    </ion-fab>
    <ion-label class="label-id" id="labelId">
        {{labelId}}
    </ion-label>
    <ion-list>
        <ion-item>
            <ion-label stacked class="informative">{{ '_label.Location_' | translate}}:</ion-label>
            <ion-label>{{labelInfo.targetLocation }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label stacked class="informative">{{ '_label.Name_' | translate}}:</ion-label>
            <ion-label>{{labelInfo.clientName}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label stacked class="informative">{{ '_label.Material_' | translate}}:</ion-label>
            <ion-label>{{labelInfo.materialId}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label stacked class="informative">{{ '_label.Description_' | translate}}:</ion-label>
            <ion-label>{{labelInfo.materialName}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label stacked class="informative">{{ '_label.Quantity_' | translate}}:</ion-label>
            <ion-label>{{labelInfo.qty}}</ion-label>
        </ion-item>
        <ion-item *ngIf="labelInfo.status">
            <ion-label stacked class="informative">{{ '_label.Status_' | translate}}:</ion-label>
            <ion-label>{{labelInfo.status}}</ion-label>
        </ion-item>
        <ion-item *ngIf="labelInfo.docNum">
            <ion-label stacked class="informative">{{ '_label.SALE_ORDER_' | translate}}:</ion-label>
            <ion-label>{{labelInfo.docNum}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
