page-task-sent {
    .material-name {
        text-align: left;
        font-weight: bold;
        font-size: 2em;
    }

    .grid-header {
        color: #666666;
        font-weight: bold;
        text-align: left;
        font-size: 0.8750em;
    }

    .grid-description {
        color: #666666;
        text-align: left;
        font-size: 0.8750em;
    }
}
