<ion-header>
    <ion-navbar color="favorite" no-border-bottom>
        <ion-buttons left>
            <button ion-button icon-only (click)="backButtonAction()" class="my-style-for-modal" id="backAction">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{ '_title.Actualization_' | translate }}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <h3>{{materialInfo.materialName}}</h3>
    <h6>{{materialInfo.materialId}}</h6>
    <ion-list>
        <ion-item>
            <ion-label class="label" stacked>
                {{ '_label.Barcode_' | translate}} ({{materialInfo.barcodeId}})
            </ion-label>
            <ion-input #barcode id="barcode" type="text" [(ngModel)]="materialInfo.newBarcode"
                (ionFocus)="userWantsToChangeCurrentScan(1)" (keypress)="keyPressScan($event.keyCode)"></ion-input>
            <ion-icon name="barcode" *ngIf="showScanIcon(1)" item-end></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label class="label" stacked>
                {{ '_label.Alternate-Barcode_' | translate}} ({{materialInfo.alternateBarcode}})
            </ion-label>
            <ion-input #alternateBarcode id="alternateBarcode" type="text"
                [(ngModel)]="materialInfo.newAlternateBarcode" (ionFocus)="userWantsToChangeCurrentScan(2)"
                (keypress)="keyPressScan($event.keyCode)"></ion-input>
            <ion-icon name="barcode" *ngIf="showScanIcon(2)" item-end></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>{{'_label.Handle-Batch_' | translate }}</ion-label>
            <ion-checkbox [(ngModel)]="materialInfo.batchRequested"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>{{ '_label.Handle-Series_' | translate }}</ion-label>
            <ion-checkbox [(ngModel)]="materialInfo.serialNumberRequests"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>{{ '_label.Handle-Tone_' | translate }}</ion-label>
            <ion-checkbox [(ngModel)]="materialInfo.handleTone"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>{{ '_label.Handles-Caliber_' | translate }}</ion-label>
            <ion-checkbox #caliber [(ngModel)]="materialInfo.handleCaliber"></ion-checkbox>
        </ion-item>
    </ion-list>

    <ion-fab bottom right>
        <button color="light" ion-fab id="syncMaterial" (click)="modifyMaterial()">
            <ion-icon name="cloud-upload" color="favorite"></ion-icon>
        </button>
    </ion-fab>

</ion-content>

<ion-footer>
    <ion-toolbar *ngIf="!isAndroid">
        <button ion-button large block (click)="scanBarcode()">
            {{ '_button.Scan-barcode_' | translate }}
        </button>
    </ion-toolbar>
</ion-footer>
