page-material-info {
    .license {
        text-align: center;
        font-weight: bold;
        font-size: 2em;
    }

    .material-name {
        text-align: left;
        font-weight: bold;
        font-size: 2em;
    }

    .grid-header {
        color: #666666;
        font-weight: bold;
        text-align: left;
        font-size: 0.8750em;
    }

    .grid-description {
        color: #666666;
        text-align: left;
        font-size: 0.8750em;
    }

    .col-description{
        white-space: initial;
    }
}
